body {
	background-repeat:no-repeat;
	background-position:center;
	background-position:top;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color:#946767;
	background-color:#150503;
	border:1px solid #401f00;
}
